  <main>
    <section class="contents">
      <h2>Lists</h2>
      <ul class="list">
        <%= @h %>
      </ul>
    </section>
    <section class="form_index">
      <form method="GET" action="/new">
        <input class="button new" type="submit" value="New">
      </form>
    </section>
  </main>
