<main>
  <nav class="home">
    <a href="../"><i class="fas fa-home"> home</i></a>
  </nav>
  
  <section class=form_text_input>
    <form method="POST" action="/new">
      <div class="title_input">
        <input class="title" type="text" name="title" placeholder="タイトル" required>
      </div>
      <div class="body_input">
        <textarea class="body" name="body" placeholder="本文"></textarea>
      </div>
      <input class="button save" type="submit" value="Save">
    </form>
  </section>
</main>
